/* zero out default margin and padding for all elements */
* {
  /* selector for all elements to zero out default margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----- Body background styling ----- */
body {
  /* selector for body to set background image and font styles */
  background: url(../Images/background.jpg) no-repeat center center/cover; /* set background image with no repeat, centered, and cover the entire area */
  width: 100vw; /* set full viewport width */
  height: 100vh; /* set full viewport width and height */
  font-family:
    poppins, sans-serif; /* set font family to Poppins with sans-serif fallback */
  font-size: 1rem; /* set base font size 16px based on browser default 16px */
  overflow: hidden; /* prevent scrolling */
}
/* -----Container for centering the login box ----- */
.container {
  /* selector for container to center login box */
  position: relative; /* relative positioning for child absolute elements */
  top: 50%; /* center vertically */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%); /* adjust position to center */
  width: 28rem; /* set width of container at 448px based on 16px base font size */
}
/* ---------------- Signin/Signup box styling -------------- */
.signin,
.signup {
  /* targeted selector for signin and signup boxes */
  color: #fff; /* set text color to white */
  position: relative; /* relative positioning for child absolute elements */
  top: 0; /* set top position to 0 */
  left: 0; /* set left position to 0 */
  background: rgba(48, 30, 30, 0.1); /* set semi-transparent dark background */
  border: 0.0625rem solid rgba(255, 255, 255, 0.5); /* set a 1px  semi-transparent white border with 16px = 1rem base font size */
  padding: 3rem 2rem; /* set padding of 48px top/bottom and 32px left/right based on 16px = 1rem base font size */
  border-radius: 1rem; /* set border radius of 16px based on 16px = 1rem base font size */
  backdrop-filter: blur(
    1.875rem
  ); /* apply a backdrop blur effect of 30px based on 16px = 1rem base font size */
}
